.form {
  display: flex;
  flex-flow: column;
  align-content: center;
}

.buttonWrapper {
  display: flex;
  flex-flow: column;
  align-content: center;
}

.inputWrapper {
  display: flex;
  flex-flow: column;
  align-content: center;
}
